.mainbox {
  margin: auto;
  height: 600px;
  width: 600px;
  position: relative;
}

.code {
  text-align: center;
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 11rem;
}

.msg {
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}
