@import "./Vars.scss";
@import "./Media.scss";

html, body {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: $theme-font;
  background-image: linear-gradient(#21c08b, #8f57fd);
}

* {
  box-sizing: border-box;
}
